.vetri-logo {
    font-family: Catull,Sans-Serif;
    font-size: 80px;
    letter-spacing:2px;
}
.vetri-V {
    color:#0047F1;
}
.vetri-e {
    color:#DD172C;
}
.vetri-t {
    color:#F9A600;
}
.vetri-r {
    color:#0047F1;
}
.vetri-i {
    color:#00930E;
}

.vetri-sublogo {
    font-family: Catull,Sans-Serif;
    font-size: 30px;
    letter-spacing:2px;
}

.vetri-sublogo {
    font-family: Catull,Sans-Serif;
    font-size: 30px;
    letter-spacing:2px;
}

.submit{
	padding:4.4px;

	background-color:#4D90FE;
	border-radius: 2px 2px 2px 2px;
	border: 1px solid #3079ED;
	
	font-weight:bold;
	
	color:white;
	cursor:pointer;
}

.submit:hover,#start-button:hover,#back-button:hover,.report:hover,#skip-button:hover{
	background-color:#357ae8;
	border: 1px solid #2f5bb7;
	size:100px;
}
#input{
	width:450px;
	padding:3px;
	margin-top:2px;
	margin-right:6px;
	
	font-size:17px;
	
	background:#fbfbfb;
	border:1px solid #E5E5E5;
}